<h1>Build your own account</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-1">
<%= form_for @user do |f| %>

<%= f.label :name %>
<%= f.text_field :name, class: 'form-control'  %>

<%= f.label :email %>
<%= f.text_field :email, class: 'form-control' %>

<%= f.label :What_are_you_looking_for %>
<%= f.text_area :bio, class: 'form-control' %><br>

<%= f.label :password %>
<%= f.password_field :password, class: 'form-control' %><br>

<%= f.label :confirm_password %>
<%= f.password_field :password, class: 'form-control' %><br>

<%= f.check_box(:designer) %>
<%= f.label(:designer, "Designer") %><br>
<%= f.check_box(:developer) %>
<%= f.label(:developer, "Developer") %> <br>

<%= f.submit "Create User", class: "btn btn-primary" %>

<% end %>
  </div>
</div>
